* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leaflet-control-container { position: absolute; right: 51px }

.svg-defs {
  display: block;
  width: 0;
  height: 0;
}

.svg-canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: 9999;
}

html, body, .root, main {
  height: 100%;
}

main {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  font-family: 'IBM Plex Mono', sans-serif;
}

a:visited {
  color: initial;
}

#map {
  flex: 1.5;
}
#map > img {
  width: 100%;
}

.contents {
  flex: 1;
  padding: 10px;
  overflow: scroll;
}

.contents ul {
  list-style: none;
}

.contents h1 {
  margin-bottom: 1em;
}
.contents p {
  margin-bottom: 1em;
  line-height: 1.4;
}

.contents__title {
  font-size: 1em;
  margin-bottom: 1em;
}

.contents__stories_list a {
  display: block;
  color: inherit;
  line-height: 2;

}
.contents__images_list {
  margin: 3em 0;
  padding-bottom: 10em;
}
.contents__images_list li {
  margin-bottom: 3em;
}
.contents__images_list img {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.leaflet-marker > img {
  width: 100%;
  position: relative;
  top: -26px;
  transform: rotate(14deg);
  right: -5px;
}