* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leaflet-control-container { position: absolute; right: 51px }

.svg-defs {
  display: block;
  width: 0;
  height: 0;
}

.svg-canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: 9999;
}
.svg-canvas line {
  stroke: #bbb;
  stroke-width: 1px;
}

.svg-canvas polygon {
  stroke: #ccc;
  stroke-width: 1px;
  opacity: .15;
}

#fadein .stop1 {
  stop-color: #fff;
}
#fadein .stop2 {
  stop-color: #999;
}

html, body, .root, main {
  height: 100%;
}

main {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a:visited {
  color: initial;
}

#map {
  flex: 1;
}
#map > img {
  width: 100%;
}

.contents {
  flex: 1.2;
  padding: 20px;
  margin: -10px;
  overflow: scroll;
  direction: rtl;
}
@media (max-width: 640px) {
  .contents {
    flex: 2;
  }
}


.contents > * {
  direction: ltr;
}
.contents ul {
  list-style: none;
}

.contents h1 {
  margin-bottom: 1em;
}
.contents p {
  margin-bottom: 1em;
  line-height: 1.4;
}

.contents__title {
  font-size: 1em;
  margin-bottom: 1em;
}

.contents__stories_list a {
  display: block;
  color: inherit;
  line-height: 2;

}
.contents__images_list {
  margin: 3em 0;
  padding-bottom: 10em;
}
.contents__images_list li {
  margin-bottom: 3em;
}
@media (max-width: 640px) {
  .contents__images_list li {
    margin-bottom: 1em;
  }
}

:root {
  --image-width: 32vw;
}

@media (max-width: 640px) {
  :root {
    --image-width: 100%;
  }
}

.contents__images_list .imageWrapper {
  background: #ccc;
  margin: 0 auto;
  max-width: var(--image-width);
}

.contents__images_list img {
  display: block;
  width: 100%;
  max-width: var(--image-width);
  height: auto;
  margin: 0 auto;
  opacity: 0;
  transition: opacity .25s;
  background: #eee;
}

.contents__images_list .imageWrapper {
  background: #ccc;
  margin: 0 auto;
  max-width: var(--image-width);
}


.contents__images_list img.loaded {
  opacity: 1;
}

.leaflet-marker > img {
  width: 100%;
  position: relative;
  top: -26px;
  transform: rotate(14deg);
  right: -5px;
  filter: grayscale(1) opacity(.5);
}

.leaflet-marker-current > img {
  top: -32px;
  right: -6px;
  filter: grayscale(0) opacity(.85);
}
